@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

body  {
  background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
  background-size:cover;
  -webkit-animation: slidein 100s;
  animation: slidein 100s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  .device {
    margin: auto 0;
    width: 375px;
    height: 812px;
    border-radius: 46px;
    background: black;
    border: 1px solid #000000;
    padding: 4px;
    z-index: 0;

    .device-main {
      width: 100%;
      height: 100%;
      border-radius: 46px;
      background-image: url("../public/images/desktop-back.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      .visor {
        position: relative;
        display: flex;
        align-items: center;
        margin: 0 auto 40px auto;
        background-color: #000000;
        border-radius: 20px;
        width: 35%;
        height: 30px;

        img {
          position: absolute;
          right: 0;
          margin-right: 10px;
          width: 21px;
          height: 21px;
          z-index: 200;
          opacity: 0.8;
          background-image: url("../public/images/lens.png");

        }
      }
      .apps-list {
        width: 100%;
        height: 90%;
        padding: 0 15px;
        div {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 65px;
          height: 70px;
          cursor: pointer;

          button {
            width: 50px;
            height: 45px;
            border-radius: 5px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
          }
          p {
            color: white;
          }
        }
        .calculator-link {
          button {
            background-image: url("../public/images/calculator.png");
          }
        }
      }
    }
  }
}

.calculator {
  width: 100%;
  height: 100%;
  border-radius: 46px;
  background-color: white;
  padding: 50px 15px;

  .to-home {
    width: 50px;
    height: 50px;
    background-color: white;
    background-image: url("../public/images/home.png");
    background-repeat: no-repeat;
  }

  .content {
    width: 100%;
    height: 90%;

    .result-display {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100px;
      border: 1px solid black;
      border-radius: 20px;
      margin: 100px 0 50px 0;
      padding-right: 15px;
      text-align: right;

      input {
        height: 100%;
        width: 100%;
        font-size: 30px;
        font-weight: bold;
        border: none;
        background-color: transparent;
        text-align: right;
        //text-align: center;
      }
    }

    .buttons-panel {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      .functional-btn {
        background-color: #ffcc00;
        width: 80px;
        height: 80px;
        gap: 10px;
        border-radius: 50%;
        border: 1px solid black;
      }
      .get-result {
        width: 100%;
        background-color: cornflowerblue;
        height: 70px;
        border-radius: 30px;
        margin-top: 10px;
        &:hover {
          background-color: aqua;
        }
      }
    }
  }
}



@-webkit-keyframes slidein {
  from {background-position: top; background-size:3000px; }
  to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
  from {background-position: top;background-size:3000px; }
  to {background-position: -100px 0px;background-size:2750px;}

}